{% extends 'layout.html' %}
{% block content %}
	{% from 'includes/_formhelpers.html' import render_field %}
	<h2>Register now and share your experiences</h2>
	<form method="POST">
		<div class="form-group">
			{{ render_field(form.name, class_="form-control") }}
		</div>
		<div class="form-group">
			{{ render_field(form.email, class_="form-control") }}
		</div>
		<div class="form-group">
			{{ render_field(form.password, class_="form-control") }}
		</div>
		<div class="form-group">
			{{ render_field(form.confirm, class_="form-control") }}
		</div>
		<input type="submit" class="btn btn-outline-success" value="Submit">
	</form>
{% endblock %}